<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static\style.css">
    <title>Admin Login</title>
</head>
<body>
    <h1>Admin Login</h1>
    <form method="POST">
        <label>Username:</label><br>
        <input type="text" name="username" required autocomplete="username"><br>
        <label>Password:</label><br>
        <input type="password" name="password" required autocomplete="current-password"><br>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Don't have an account? Register here</a>
</body>
</html>
